h3 {
  margin-bottom: 24px;
}

.centro {
  text-align: center;
}

.nao-mostrar {
   display: none;
}

 .chapter-number::after {
   content: ":";
 }

 .quarto-figure {
  margin-bottom: 40px;
 }

 figcaption {
  text-align: center;
 }

.cell-output-display:not(.no-overflow-x), .knitsql-table:not(.no-overflow-x) {
  overflow-x: visible;
}

.center {
  width: 90%;
  margin: auto;
  display: block;
}
.grande {
  font-size: 2em;
}

/* Slicker */

.slick-dots {
  margin-bottom: 24px;
}

.slick-dots > li {
  margin-right: 16px;
  cursor: pointer;
  width: unset;
  height: unset;
  padding: 8px;
}

.slick-slide img {
  width: 100% !important;
}

li.slick-active {
  border: 1px solid black;
  border-radius: 8px;
}

/* dropdown */

.dropdown-label {
  text-align: left !important;
  margin-top: 16px;
}

.element_container > svg {
  display: block;
  margin: auto;
}

.download a {
  text-decoration: none;
}


/* reactable */

.reactable {
  margin-bottom: 16px;
  width: 100% !important;
}

.ReactTable {
  margin: auto;
}